@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation"; 
    Layout = "_AuthLayout";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0   ">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block p-0">
                    <img src="~/img/login-image.jpg" alt="Forget Password Image" class="img-fluid">
                </div>
                <div class="col-lg-7">
                    <div class="p-5 content">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-2">@ViewData["Title"]</h1>
                            <p class="mb-4">
                                Please check your email to reset your password.
                            </p>
                        </div>
                        <div class="text-center">
                            <a class="small" asp-page="./Login">Back To Login Page</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.content {
        margin-top: 170px;
    }
    .container {
        max-width: 1100px;
    }
    .card {
        height: 600px
    }
 
      .img-fluid {
                object-fit: cover;
            }
  
</style>

