@model EmploteeVM
<form method="POST">
    <h2 class="mb-2 text-gray-800">Employee Information</h2>
    <input hidden asp-for="Employee.Id">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Employee.Name" class="text-gray-800"></label>
                <input asp-for="Employee.Name" class="form-control">
                <span asp-validation-for="Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Salary" class="text-gray-800"></label>
                <div class="input-group">
                    <input asp-for="Employee.Salary" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">KD</span>
                    </div>
                </div>
                <span asp-validation-for="Employee.Salary" class="text-danger"></span>
            </div>
            <div class="from-group">
                <label asp-for="Employee.Career" class="text-gray-800"></label>
                <input asp-for="Employee.Career" class="form-control">
                <span asp-validation-for="Employee.Career" class="text-danger"></span>
            </div>
            <div class="from-group">
                <label asp-for="Employee.Email" class="text-gray-800"></label>
                <input asp-for="Employee.Email" class="form-control">
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
             <div class="from-group">
                <label asp-for="Employee.TagId" class="text-gray-800"></label>
                 <select asp-for="Employee.TagId" asp-items="@Model.TagList" class="form-control">
                     <option disabled selected>--Select Tags--</option>
                 </select>
                <span asp-validation-for="Employee.TagId" class="text-danger"></span>
             </div>
            <div class="from-group">
                <label class="text-gray-800">Created Time</label>
                <input class="form-control" value="@Model.Employee.DateTime.ToString("MMM-dd-yy hh:mm tt")" readonly>
            </div>
            <!-- Add more form fields as needed -->
        </div>
        <div class="col-lg-6">
            <div class="profile-image">
                <img src="" alt="" id="profile-pic">
            </div>
            <div class="form-group form-upload">
                <input type="file" id="file-input" accept="image/*">
                <label for="file-input" class="btn-upload">Upload Image</label>
            </div>
            <div class="row mx-5">
                <div class="form-group mr-lg-5">
                    <label class="text-gray-800">Gender:</label><br>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label text-gray-800" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label text-gray-800" for="female">Female</label>
                    </div>
                </div>
                <div class="form-group mr-lg-5">
                    <label class="text-gray-800">Status:</label><br>
                    <div class="form-check">
                        <input checked class="form-check-input text-gray-800" type="radio" name="status" id="active" value="active">
                        <label class="form-check-label text-gray-800" for="active">Active</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" name="status" id="inactive" value="inactive">
                        <label class="form-check-label text-gray-800" for="inactive">Inactive</label>
                    </div>
                </div>
                <!-- Add more radio buttons as needed -->
                <div class="form-group">
                    <label class="text-gray-800">Languages:</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hobby1" value="option1">
                        <label class="form-check-label text-gray-800" for="hobby1">Arabic</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hobby2" value="option2">
                        <label class="form-check-label text-gray-800" for="hobby2">English</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </div>
            </div>
        </div>
        <div class="row">
            <a asp-controller="Employee" asp-action="Index" class="btn btn-dark ml-2 mt-5">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            <button type="submit" class="btn btn-success ml-4 mt-5">
                <i class="fas fa-solid fa-check"></i> Create
            </button>
        </div>
    </div>
</form>

<style>
  .profile-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    overflow: hidden;
    background-color: #ccc;
    position: relative;
  }
  input[type="file"] {
    display: none;
  }
  .btn-upload {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-upload, 
  .row {
    display: flex;
    justify-content: space-around;
    font-size: large;
  }
</style>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}