@model EmploteeVM
<form method="POST" enctype="multipart/form-data">
    <h2 class="mb-2 text-gray-800">Employee Information</h2>
    <input hidden asp-for="Employee.Id">
    <div class="row">
        <div class="col-lg-6">
           <div class="form-group">
               <label asp-for="Employee.Name" class="text-gray-800" data-toggle="tooltip" title="Enter the employee's full name">Name</label>
               <input asp-for="Employee.Name" class="form-control">
               <span asp-validation-for="Employee.Name" class="text-danger"></span>
           </div>
            <div class="form-group">
                <label asp-for="Employee.Salary" class="text-gray-800"></label>
                <div class="input-group">
                    <input asp-for="Employee.Salary" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">KD</span>
                    </div>
                </div>
                <span asp-validation-for="Employee.Salary" class="text-danger"></span>
            </div>
            <div class="from-group">
                <label asp-for="Employee.Career" class="text-gray-800">
                    <i class="fas fa-briefcase"></i> Career
                </label>
                <input asp-for="Employee.Career" class="form-control">
                <span asp-validation-for="Employee.Career" class="text-danger"></span>
            </div>
            <div class="from-group">
                <label asp-for="Employee.Email" class="text-gray-800"></label>
                <input asp-for="Employee.Email" class="form-control">
                <span asp-validation-for="Employee.Email" class="text-danger"></span>
            </div>
              <div class="from-group">
                  <label asp-for="Employee.TagId" class="text-gray-800">Tags</label>
                  <select asp-for="Employee.TagId" asp-items="@Model.TagList" class="form-control">
                      <option disabled>--Select Tags--</option>
                  </select>
                  <span asp-validation-for="Employee.TagId" class="text-danger"></span>
              </div>
            <div class="from-group">
                <label class="text-gray-800">Created Time</label>
                <input class="form-control" value="@Model.Employee.DateTime.ToString("MMM-dd-yy hh:mm tt")" readonly>
            </div>
            <!-- Add more form fields as needed -->
        </div>
        <div class="col-lg-6">
            <div class="profile-image">
                <img src="@Model.Employee.imageUrl" alt="" id="profile-pic">
            </div>
           <div class="form-group form-upload">
               <label for="fileInput" class="btn-upload">
                   <i class="fas fa-camera"></i> Upload Image
                   <input id="fileInput" asp-for="Employee.imageUrl" name="file" type="file" style="display: none;">
               </label>
           </div>
            <div class="row mx-5">
                <div class="form-group mr-lg-5">
                    <label class="text-gray-800">Gender:</label><br>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label text-gray-800" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label text-gray-800" for="female">Female</label>
                    </div>
                </div>
                <div class="form-group mr-lg-5">
                    <label class="text-gray-800">Status:</label><br>
                    <div class="form-check">
                        <input checked class="form-check-input text-gray-800" type="radio" name="status" id="active" value="active">
                        <label class="form-check-label text-gray-800" for="active">Active</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input text-gray-800" type="radio" name="status" id="inactive" value="inactive">
                        <label class="form-check-label text-gray-800" for="inactive">Inactive</label>
                    </div>
                </div>
                <!-- Add more radio buttons as needed -->
                <div class="form-group">
                    <label class="text-gray-800">Languages:</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hobby1" value="option1">
                        <label class="form-check-label text-gray-800" for="hobby1">Arabic</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="hobby2" value="option2">
                        <label class="form-check-label text-gray-800" for="hobby2">English</label>
                    </div>
                    <!-- Add more checkboxes as needed -->
                </div>
            </div>
        </div>
        <div class="row">
            <a asp-controller="Employee" asp-action="Index" class="btn btn-dark ml-2 mt-5">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            <button type="submit" class="btn btn-success ml-4 mt-5">
                <i class="fas fa-solid fa-check"></i> Create
            </button>
        </div>
    </div>
</form>

<style>
.profile-image {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    position: relative;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image:hover {
    transform: scale(1.05);
}

 /* Remove display: none from input[type="file"] */
 input[type="file"] {
     position: absolute;
     cursor: pointer;
     padding-left: 5px;
 }
 
 /* Adjust styling of the upload button */
 .btn-upload {
     display: inline-block;
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     text-align: center;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .btn-upload:hover {
     background-color: #0056b3;
 }
 
 .btn-upload i {
     margin-right: 5px;
 }

  .form-upload, 
  .row {
    display: flex;
    justify-content: space-around;
    font-size: large;
  } 
 .form-check-input {
   width: 18px;
   height: 18px;
 }

 .form-check-label {
   margin-left: 8px;
 }
   </style>

@section Scripts{
    @{
        <script>
            document.getElementById('fileInput').addEventListener('change', function(event) {
                const file = event.target.files[0];
                const reader = new FileReader();
                const img = document.getElementById('profile-pic');
                
                reader.onload = function(e) {
                    img.src = e.target.result;
                }
           
                reader.readAsDataURL(file);
            });
        </script>
        <partial name="_ValidationScriptsPartial"/>
    }
}